<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-horizontal" th:object="${productDto}" th:action="@{/addItem}" method="post" enctype="multipart/form-data">
    <fieldset>

        <!-- Form Name -->
        <legend>PRODUCTS</legend>

        <!-- product name area -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Product name</label>
            <div class="col-md-4">
                <input id="product_name" th:field = "*{name}" placeholder="Product name" class="form-control input-md"
                       required="" type="text">

            </div>
            <label th:if="${#fields.hasErrors('name')}" th:class="'error'" th:errors="*{name}" class="col-lg-4 control-label" style="color:red;" ></label>
        </div>

        <!-- product description area -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">Product description</label>
            <div class="col-md-4">
                <input id="product_description" th:field = "*{description}" name="description" placeholder="Product description"
                       class="form-control input-md"
                       required="" type="text">

            </div>
            <label th:if="${#fields.hasErrors('description')}" th:class="'error'" th:errors="*{description}" class="col-lg-4 control-label" style="color:red;" ></label>
        </div>

        <!-- product starting price area -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_starting_price">Product starting price</label>
            <div class="col-md-4">
                <input id="product_starting_price" th:field = "*{startBidingPrice}" name="startBidingPrice" placeholder="Product starting price"
                       class="form-control input-md"
                       required="" type="number">
            </div>
            <label th:if="${#fields.hasErrors('startBidingPrice')}" th:class="'error'" th:errors="*{startBidingPrice}" class="col-lg-4 control-label" style="color:red;" ></label>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_category">Product Category</label>
            <div class="col-md-4">
                <select name="color" id = "product_category" th:field = "*{category}"  class="form-control input-md">
                    <option th:each="colorOpt : ${T(com.sda.onlineAuction.model.Category).values()}"
                            th:value="${colorOpt.name()}" th:text="${colorOpt.name()}"></option>
                </select>
            </div>
            <label th:if="${#fields.hasErrors('category')}" th:class="'error'" th:errors="*{category}" class="col-lg-4 control-label" style="color:red;" ></label>
        </div>

        <!-- Auction End DAte and Time Area -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="auction_end_time">Auction End Date and Time</label>
            <div class="col-md-4">
                <input id="auction_end_time" th:field = "*{endDateTime}" name="endDateTime" placeholder="Auction End Date and Time"
                       class="form-control input-md"
                       required="" type="datetime-local">

            </div>
            <label th:if="${#fields.hasErrors('endDateTime')}" th:class="'error'" th:errors="*{endDateTime}" class="col-lg-4 control-label" style="color:red;" ></label>
        </div>

        <!-- product image area -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_image">Product image</label>
            <div class="col-md-4">
                <input id="product_image" name="productImage" accept="image/png, image/jpg, image/jpeg" placeholder="Product image" class="form-control input-md"
                       required="" type="file">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Add product</button>
            </div>
        </div>
    </fieldset>

</form>


</body>
</html>